@font-face {
    font-family: Mogan;
    src: url(Mogan-Regular.otf);
  }


/* h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
} */
.font-mogan{
    font-family: 'Mogan';
}
ul{
    padding-left: 2em;
}


.container-cc {
    width: 85%;
    max-width: 55em;
    margin: 0 auto;
}

p,
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.btn-goals {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

h2{
    font-size: 1.8em;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-size: 45px;
    line-height: 1.3;
}

h2{
    padding-top: 1em;
}

p, ul{
    padding-bottom:0.5em;
    padding-top: 0.5em;
}

.pillar-img{
    max-width:100px;
}
.centercenter{
    display: flex;
            justify-content: center;
            align-items: center;
}

.pillar div:first-child{
    flex-basis: 20%;
}
.pillar div:nth-child(2){
    flex-basis: 80%;
}
@media only screen and (max-width: 54em) {

    .centercenter{
        padding-top:8px;
        display: flex;
                justify-content: center;
                align-items:flex-start;
    }

    .pillar-img{
        max-width:50px;
    }

    .pillar div:first-child{
        flex-basis: 10%;
    }
    .pillar div:nth-child(2){
        flex-basis: 90%;
    }
}
