@font-face {
    font-family: Mogan;
    src: url(Mogan-Regular.otf);
  }

.h3{
    font-size: 30px;
}

/* h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
} */
.font-mogan{
    font-family: 'Mogan';
}
ul{
    padding-left: 2em;
}


.container-cc {
    width: 85%;
    max-width: 55em;
    margin: 0 auto;
}

p,
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.btn-goals {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.1;
}