@font-face {
    font-family: Mogan;
    src: url(Mogan-Regular.otf);
}


/* h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
} */
.font-mogan {
    font-family: 'Mogan';
}

ul {
    padding-left: 2em;
}


.container-cc {
    width: 85%;
    max-width: 55em;
    margin: 0 auto;
}

p,
li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

.btn-goals {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.1;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: 700;
}

.h3 {
    font-size: 45px;
    line-height: 1.3;
}

h2 {
    padding-top: 1em;
}

#articles-and-podcasts h2 {
    padding-top: 0.9em;
}

#articles-and-podcasts .column {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media only screen and (max-width: 54em) {
    #articles-and-podcasts img {
        max-width: 60px;
    }
}


p,
ul {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.pillar-img {
    max-width: 100px;
}

.centercenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pillar div:first-child {
    flex-basis: 20%;
}

.pillar div:nth-child(2) {
    flex-basis: 80%;
}

@media only screen and (max-width: 54em) {

    .centercenter {
        padding-top: 8px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .pillar-img {
        max-width: 50px;
    }

    .pillar div:first-child {
        flex-basis: 10%;
    }

    .pillar div:nth-child(2) {
        flex-basis: 90%;
    }
}

#introStatements img {
    max-width: 200px;
}


@media only screen and (max-width: 54em) {
    .mogine-mobile-30 {
        font-size: 30px;
    }

    .btn {
        font-size: 1em;
        padding: 0.8em 1em;
    }

    p {
        font-size: 17px;
    }

    h2 {
        font-size: 1.4em;
    }

    #introStatements img {
        max-width: 150px;
    }

    .note {
        font-size: 14px;
    }


    .hero-item-2 p {
        font-size: 18px;
        margin-right: 0%;
    }
}

/* Testimonials */

.divider {
    border-right: 2px solid white;
}

.testimonial-title h4 {
    font-size: 1.4em;
    letter-spacing: 1.5px;
    font-weight: normal;
    padding-bottom: 20px;
}

.testimonial-title h4::before {
    width: 15px;
    height: 15px;
    content: url('/images/quotes.png');
    zoom: 3%;
    margin-right: 5px;


}

@media only screen and (max-width: 865px) {

    .divider {
        border-right: 0px solid white;
        border-bottom: 2px solid white;
    }

    .testimonial .pr-3,
    .testimonial .pl-3 {
        padding-right: 0em !important;
        padding-left: 0em !important;
    }
}